In [1]:
import numpy as np
import pandas as pd

1. 频数统计

In [2]:
# Series
s = pd.Series([1, 1, 5, np.nan, 5, 8])
s.value_counts()

5.0    2
1.0    2
8.0    1
dtype: int64

In [4]:
# DataFrame
df = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [5]:
b = df.apply(pd.value_counts)
b

                       A    B    C    D    E    F
1.0                  4.0  NaN  4.0  NaN  NaN  NaN
2013-01-02 00:00:00  NaN  4.0  NaN  NaN  NaN  NaN
3                    NaN  NaN  NaN  4.0  NaN  NaN
train                NaN  NaN  NaN  NaN  2.0  NaN
test                 NaN  NaN  NaN  NaN  2.0  NaN
foo                  NaN  NaN  NaN  NaN  NaN  4.0

In [6]:
print(s.mode()[0])

1.0

In [7]:
s.median()

5.0

2. 可视化

In [9]:
import matplotlib.pyplot as plt
plt.close('all')

In [17]:
ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
ts.plot()

3. pandas常用

In [ ]:
# column信息, info信息
Train_data.info()

In [8]:
# 删除
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html?highlight=drop#pandas.DataFrame.drop

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
df

In [9]:
df.drop(['B', 'C'], axis=1)

   A   D
0  0   3
1  4   7
2  8  11

In [ ]:
# 类型转换
# https://www.cnblogs.com/keye/p/11220497.html
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html?highlight=to_numeric

In [1]:
import scrapy