In [1]:
import numpy as np
import pandas as pd

频数统计

In [2]:
# Series
s = pd.Series([1, 1, 5, np.nan, 5, 8])
s.value_counts()

5.0    2
1.0    2
8.0    1
dtype: int64

In [4]:
# DataFrame
df = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [6]:
b = df.apply(pd.value_counts)
b

                       A    B    C    D    E    F
1.0                  4.0  NaN  4.0  NaN  NaN  NaN
2013-01-02 00:00:00  NaN  4.0  NaN  NaN  NaN  NaN
3                    NaN  NaN  NaN  4.0  NaN  NaN
train                NaN  NaN  NaN  NaN  2.0  NaN
test                 NaN  NaN  NaN  NaN  2.0  NaN
foo                  NaN  NaN  NaN  NaN  NaN  4.0

In [12]:
print(s.mode()[0])

1.0

In [13]:
s.median()

5.0